@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.BODY {
    background-color: #dfd3c3;
    font-family: 'Poppins', sans-serif;
    /* old #A3E4DB 
    #e4bba3
    #fff1bd
    */
}

.MAIN_BOX{ 
    position:absolute;
    width: 1200px;
    height: 1000px;
    border-radius: 25px;
    background-color: #F0ece3;
    /* old #FFF8F3 */
    
    top: 10%;
    left: 50%;
    margin-left: -600px;
    box-shadow: 0 0 20px 0px #a59682 ;
}

.HEADER_NAME{
    
    font-weight: 700;
    margin: 35px 0 0 65px;
    color: #262A3E;   
}

.HEADER_NAME{
    float: left;
}

.PROFILE_PHOTO{
    margin: 50px 0 0 65px;
    border-radius: 30px;
    width: 120px;
    height: 160px;
    float: left;
}

.PHARAGRAPH_CONTAINER{
    margin-top:  275px;
    margin-left: 37px;
    width: 525px;
    height: 235px;
    border-radius: 25px;
    background-color: #d6bbdd;
}

.PHARAGRAPH{
    
    font-weight: normal;

    line-height: 25px;
    text-align:justify;
    
    margin-left: 23px;
    margin-right: 25px;
    float:right;
    color:#684174;

}

.NAME_AND_INFO_BOX{
    float:left;
    width: 400px;
    height: 175px;
    margin-top:50px;
    
}

.HEADER_INFO{
    color: #585a6e;
    font-weight: 600;
    margin-left: 65px;
    margin-bottom:0;
    margin-top: 5px;
    float:left;
    font-size: 13px;
}

.HEADER_INFO_SPAN{
    color: #585a6e;
    font-weight: 700;
    float:left;
    margin-left: 65px;
    margin-top: 0px;
    font-size: 13px;
}

.BUTTON_BOX{
    margin-left: 37px;
    margin-top: 375px;
    width: 525px;
    height: 75px;
    border-radius: 25px;
    background-color: #d6bbdd;
    float:left;
}

.BUTTON_BOX_HEADER{
    color: #7e5b86;
    font-weight: 600;
    float:left;
    margin: 24px 0 0 60px;
}

#HEADER_SELECTED{
    color: #6c4d74;
    font-weight: 800;
    text-shadow: 0 0 10px 0 rgb(47, 94, 59);
}

.MENU_LINK:hover{
    
    font-size: 20px;
    text-decoration: none;
    animation-name: hovering;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes hovering {
    from{font-size:18.72px;}
    to{font-size: 21px;}
}

.MENU_LINK{
    text-decoration: none;
    color:#7e5b86;
}
